@import "./reset.css";

span {
  display: block;
  border: 1px dotted blue;
}

body {
  /* width: 100%; */
  /* height: 100%; */
  /* border: 5px solid red; */
  /* background-color: yellow; */
}

.calc {
  /* width: 100%;
  height: 100%; */
}

.calc .calc__button {
  display: grid;
  grid: auto-flow / 3fr 1fr;
}
.calc .calc__number {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
